@mixin full {
  height: 100%;
  width: 100%;
}
@mixin text-center {
  text-align: center;
}
@mixin text-right {
  text-align: right;
}
@mixin center-vertical-horizontal {
  align-items: center;
  display: flex;
  justify-content: center;
}
@mixin absolute-cover {
  @include full;
  left: 0;
  position: absolute;
  right: 0;
}
@mixin caption {
  bottom: 0;
  color: rgba($grey, .5);
  font-size: 2em;
  font-weight: bold;
  left: 0;
  letter-spacing: 5px;
  padding: $large-padding;
  position: absolute;
  @include text-center
  text-transform: uppercase;
  width: auto;
  z-index: 10;
}
@mixin main-text {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.5em;
  h1, h2 {
    font-size: $big;
    font-weight: inherit;
    letter-spacing: .3em;
    line-height: 1.5em;
  }
}
@mixin transition {
  transition: all .6s ease-out;
}