// Colors
$red: #FC4349;
$grey: #D7DADB;
$blue: #2C3E50;
$light-blue: #6DBCDB;
$rose: #b76e79;
$white: #fff;
$black: #000;

// Fonts
$small: 16px;
$medium: 20px;
$big: 36px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;