@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

@import "./modules/variable";
@import "./modules/mixins";

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
}
figure {
  margin: 0;
  max-height: 100%;
  position: relative;
  figcaption {
    @include caption;
  }
}
.full-height {
  min-height: 100vh;
}
.btn {
  box-sizing: border-box;
  color: black !important;
  letter-spacing: 2px;
  padding: $large-padding;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  &::before {
    background-color: $light-blue;
    bottom: 0;
    content: "";
    height: 40%;
    left: 0;
    position: absolute;
    transition: all .15s ease-out;
    width: 100%;
    z-index: -1;
  }
  &:hover {
    &::before {
      height: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.menu {
  background-color: white;
  border: 1px solid $blue;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  padding: 0.8em;
  position: fixed;
  right: 0.5em;
  top: 2em;
  width: 32px;
  @include center-vertical-horizontal;
  @include transition;
  transition-duration: 0.15s;
  &:hover {
    background-color: $light-blue;
  }
}
.menu-screen {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: -101vh;
  width: 100vw;
  z-index: 1001;
  @include center-vertical-horizontal;
  @include transition;
  &.active {
    top: 0;
  }
  .close {
    position: absolute;
    right: 2em;
    top: 2em;
    img {
      height: 45px;
    }
    &:hover {
      &::after {
        transform: scale(0);
      }
    }
  }
  a {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    @include text-center;
    position: relative;
    &:first-of-type {
      margin-top: 0;
    }
    .main {
      color: $light-blue;
      display: block;
      font-size: 2em;
    }
    span:not(.main) {
      color: $rose;
      opacity: 0;
      @include transition;
      transition-duration: 0.2s;
    }
    &::after {
      background-color: $blue;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 1.2em;
      width: 100%;
      @include transition;
      transition-duration: 0.2s;
      transform: scale(0);
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
    &:hover {
      span:not(.main) {
        opacity: 1;
      }
    }
  }
}
.grid-main-area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "title title title title title title title title title"
    "image image image image image image image image image";
  margin-bottom: $big-margin-top;
  margin-top: $big-margin-top;
  .text {
    grid-area: title;
    @include main-text;
  }
  .image {
    grid-area: image;
  }
  @media screen and (min-width: 960px) {
    grid-template-areas:
      "title title title image image image image image image";
  }
}
.container {
  grid-column: span 12;
  padding: $big-padding;
  @media screen and (min-width: 960px) {
    grid-column: 2 / 12;
  }
}
.cover {
  @include absolute-cover;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  &.parallax {
    background-attachment: fixed;
    background-image: url('https://picsum.photos/1920/400');
    position: relative;
    p {
      @include caption;
      @include text-right;
      background-color: rgba($blue, .8);
      box-sizing: border-box;
      display: block;
      left: 0;
      width: 100%;
      span {
        display: block;
        font-size: .5em;
        font-weight: 200;
        margin-top: 6px;
      }
    }
  }
}
.slider {
  .controls {
    display: none;
    margin-bottom: 10px;
    padding-right: 2em;
    text-align: right;
    .right-arrow, .left-arrow {
      cursor: pointer;
      font-size: 2.5em;
      @include transition;
      transition-duration: .15s;
      &:hover {
        opacity: .2;
      }
    }
    .left-arrow {
      margin-right: 1.5em;
      // transform: rotate(180deg);
    }
  }
  .image {
    align-items: center;
    display: flex;
    min-height: 100vh;
  }
  header {
    background-color: $blue;
    box-sizing: border-box;
    color: $white;
    margin: 0 auto;
    padding: $big-padding;
    position: relative;
    transform: translateY(40px);
    width: 90%;
    z-index: 10;
    h2 {
      margin: 0;
    }
    .separator {
      color: $white;
      padding-right: 150px;
      position: relative;
      text-align: right;
      &::after {
        background-color: currentColor;
        content: "";
        height: 3px;
        position: absolute;
        right: 0;
        top: .7em;
        width: 140px;
      }
    }
  }
  @media screen and (min-width: 960px) {
    align-items: center;
    header {
      min-height: 350px;
      transform: translateX(100px);
      width: 100%;
    }
  }
}
#slider-text-content {
  @include transition;
  &.hide {
    opacity: 0;
    transform: translateX(100px);
  }
}
#slider-image {
  @include transition;
  &.hide {
    opacity: 0;
  }
}
.mission {
  align-items: center;
  .container {
    @include main-text;
    font-size: 1.1em;
    figure {
      float: right;
      margin-left: 20px;
      img {
        max-width: 100%;
      }
    }
    p {
      line-height: 2em;
      position: relative;
      &:nth-of-type(1) {
        margin-bottom: 3em;
        &::after {
          background-color: $blue;
          bottom: -1.5em;
          content: "";
          height: 5px;
          position: absolute;
          right: 0;
          width: 80%;
          z-index: -1;
        }
      }
    }
  }
}
#map {
  margin-top: $big-margin-top;
  min-height: 600px;
  position: relative;
  width: 100%;
  z-index: -1;
}
.social {
  margin-bottom: $big-margin-top;
  margin-top: $big-margin-top;
  @include text-center;
  p {
    &.title {
      font-size: 2.5em;
      font-weight: 200;
    }
  }
  a {
    display: block;
    margin: 1em auto;
    max-width: 150px;
    @media screen and (min-width: 960px) {
      display: inline-block;
      margin-right: 90px;
      margin-top: 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}